
.container {
    display: flex;
    width: 100%;
    border: 1px solid black;
}

.left-side {
    flex: 1;
}

.right-side {
    flex: 1;
}

.middle-side {
    flex: 1;
}

#searchBox {
    background-image: url('image/icons8-search-48.png'); /* Add a search icon to input */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 10px; /* Add some space below the input */
}

#drinkList {
    /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#drinkList li { /* Target li under contentList */
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}

#drinkList li a:hover:not(.header) { 
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}